{% extends 'base.html' %}
{% block title %}Facebook Login front{% endblock %}
{% block content %}
<h1 id="title"></h1>

<h3>Facebook측과의 통신 결과</h3>
<pre id="log"></pre>

<h3>DRF서버와의 통신 결과</h3>
<pre id="log2"></pre>

<button id="fb-btn" onclick="fbLogin()">페이스북 로그인</button>

<script>
		$('#fb-btn').hide();
		// Facebook SDK가 초기화 된 시점
		// 이 내부가 가장 최초로 FB객체를 사용할 수 있는 시점
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{ facebook_app_id }}',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.10'
        });
        FB.AppEvents.logPageView();
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    };

    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);

        // 페이스북에 로그인 했을 경우
        if (response.status === 'connected') {
					$('#title').text('Facebook logged');
					$('#log').text(
					    'accessToken: ' + response.authResponse.accessToken + '\n' +
							'userID: ' + response.authResponse.userID);
					// 서버에 요청
		      axios.post('/api/facebook-login/', {
              token: response.authResponse.accessToken
          }).then(function(response) {
              console.log(response);
              $('#log2').text(JSON.stringify(response.data));
		      }).catch(function(error) {
							console.log(error);
							$('#log2').text(error);
		      });
        }
        // 페이스북에 로그인되어있지 않은 상태
        else {
					$('#title').text('Facebook not logged');
					$('#fb-btn').show();
        }
    }

    function fbLogin() {
        FB.login(function(response) {
            statusChangeCallback(response);
        });
    }

    // Load SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>

</script>
{% endblock %}